{% extends 'admin/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static%}

{% block body %}


        <div class="container mt-5 p-5">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-10 ">
              <div class="card" style="border-radius: 8px;">
              <div class="card-body p-5">
                <h2 class="text-center mb-5">Edit Song {{song.song_id}}</h2>
  
                <form action="" method="post" id="myForm" enctype="multipart/form-data">
                    {%csrf_token%}
                    
                  <div class="mainform">
                    {{ form | crispy }}
                    <div class="link">
                      <br>
                      <input type="submit" value="Update" class="btn btn-success col-12" id="btn-submit">
                      <a href="{% url 'song_list' %}" class="btn btn-warning col-12">Cancel</a>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>




  <script>
    $(document).on('click', '#btn-submit', function(e){
      e.preventDefault();
      swal.fire({
        title: "Do you want to update ?",
        icon: "warning",
        buttons:true,
        dangerMode:true,
        showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, Update It'
      }).then(function (result){
        
        if(result.isConfirmed){
          $('#myForm').submit();
        } else{
          
        }
      });
    });
  </script>  

  {% endblock %}
